* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DFF0D8; /* Verde claro suave */
    color: #2E7D32; /* Verde escuro para melhor contraste */
}

header { 
    background-color: #4CAF50;
    color: white;
    /* padding: 1%; */
    text-align: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

header * {
    border: 1px solid red;
}

.logo{
    /* width: 22%; */
    height: 100%;
}

.header-img {
    display: block;
    margin: 0 auto;
    width: 100%; 
    height: 100%;
    /* max-height: 200px;  */
    object-fit: contain;    
}

nav{
    display: flex;
    height: 100%;
    height: auto;
    /* margin-top: 20px; */
}

nav ul {
    list-style: none;
    /* display: flex; */
    height: 100%;
}

nav ul li {
    margin: 0 1rem;
    display: inline;
    margin-right: 10px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    color: white;
 
}

main {
    padding: 2rem;
    background-color: #f4f4f4; /* Cor de fundo do conteúdo principal */
    padding: 20px;
}

section {
    margin-bottom: 2rem;
    background-color: #C8E6C9; /* Verde suave para seções */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}



.about-img {
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: contain; /* Ajusta a imagem para caber no contêiner sem cortes */
  border-radius: 10px; /* Opcional: adiciona cantos arredondados */
}

#about {
    background-color: #8FBC8F;
    padding: 20px;
    border-radius: 5px;
}

.about {
    background-color: #8FBC8F; /* Verde claro */
    padding: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    form {
        width: 100%;
    }
}
